.social
  .social__text
    p.social__text--hash-tag #
    p.social__text--name UberEats
  .social__icons
    img(class="social__icon" src="./assets/img/content/social/facebook.png", alt="", srcset="")
    img(class="social__icon" src="./assets/img/content/social/twitter.png", alt="", srcset="")
    img(class="social__icon" src="./assets/img/content/social/instagram.png", alt="", srcset="")
  