.container
  .row
    .col-xs-12.col-md-7.col-lg-5
      .restaurantName
        .restaurantName__title Трактир «Пушкин»
        .restaurantName__footer
          p.restaurantName__text ₽₽₽ • Европейская
          .restaurantName__time
            p.restaurantName__time--text 40 - 50 мин