mixin logo(class_name, logo_img)
  .logo
    if class_name == "header"
      img(class= "logo__img" src= logo_img, alt="")
    else 
      if class_name == "footer"
        img(class= "logo__img" src= logo_img, alt="")