.select
  .select__header
    .select__img
      img(src="./assets/img/svg/world.svg", alt="")
    span.select__current Русский
    .select__icon
      img(src="./assets/img/svg/arrow-back.svg", alt="")
  .select__body
    .select__item Русский 
    .select__item English
    .select__item France
