@import "/src/assets/scss/utils/vars";

.select {
  margin: 32px auto;
  position: relative;
  color: $mainFontColor;
  background: $color-select;
  width: 227px;

  &__header {
    display: flex;
    position: relative;
    cursor: pointer;
    background: $color-select;
    border-radius: 2px;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 12px 16px;
    margin-left: 0px;
  }

  &__current {
    display: flex;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    padding: 12px 106px 12px 0px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px 8px 16px 0px;
    margin-left: auto;
  }

  &__body {
    background: $color-select;
    border-radius: 2px;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 1;
  }

  &__item {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    padding-left: 48px;
    cursor: pointer;
  }
}
