//Font
$mainFont: "Roboto", Arial, sans-serif;
//Size
$mainFontColor: #ffffff;
$mainFontSize: 16px;
$mainFontWeight: 400;

//Color text
$default-color: #ffffff;
$dark-color: #1d1d1d;
$light-color: #626262;

//Border
$border-light: #e0e0e0;
$border-lighter: #ffffff;
$border-dark: rgba(117, 117, 117, 0.2);

//Button
$button-color: #59bd5a;

$bg-footer: #262626;

$hr-line-color: rgba(255, 255, 255, 0.4);

$color-select: #3b3b3b;

$color-hashTag: #49a144;
