mixin card
  .uk-grid-small.uk-child-width-expan
    .uk-card
      .card-media.uk-card-media-top
        img(class= "card-media__img" src="./assets/img/content/card-1.png", alt="", srcset="" )
      .card-title
        p.card-title__text Макдоналдс — Газетный
      .card-body
        p.card-body__text ₽₽ • Бургеры
      .card-footer
        p.card-footer__text 25 - 35 мин

+card
+card
+card