@import "/src/assets/scss/utils/vars";

.card {
  border: none;
}

.card-img-top {
  border-radius: 0px;
}

.card-img {
  height: 256px;
}
.card-body {
  padding: 0px;
}
.card-title,
.card-text,
.card-text-footer {
  font: {
    family: $mainFont;
    style: normal;
    weight: 400;
  }
}

.card-title {
  font-size: 16px;
  line-height: 24px;
  color: $dark-color;
  padding-top: 16px;
}

.card-text {
  font-size: 14px;
  line-height: 21px;
  color: $light-color;
}

.card-text-footer {
  padding: 0px;
  font-size: 13px;
  line-height: 21px;
  color: $dark-color;
  margin-bottom: 20px;
}

.card-container {
  margin-bottom: 16px;
}
