section.menuFilter
  .container.container-menu
    nav.menu
      ul.menu__list
        li
          a.menu__item(href="") Закуски
        li
          a.menu__item(href="") Салаты
        li
          a.menu__item(href="") Супы
        li
          a.menu__item(href="") Горячие блюда
        li
          a.menu__item(href="") Гарниры
        li
          a.menu__item(href="") Десерты