.menu
  nav.menu-footer
    ul.menu__list-left
      li.menu__item
        a(class="menu__item-link" href="") Об UberEats
      li.menu__item
        a(class="menu__item-link" href="") Станьте партнёром по доставке
      li.menu__item
        a(class="menu__item-link" href="") Станьте парнёром-рестораном
    ul.menu__list-right
      li.menu__item
        a(class="menu__item-link" href="") Все города
      li.menu__item
        a(class="menu__item-link" href="") Цены
      li.menu__item
        a(class="menu__item-link" href="") Помощь
      li.menu__item
        a(class="menu__item-link" href="") FAQs